<div class="content row">
  <div class="box border-base1 col-12 round">
    <p class="txt-c">Table de Wallas</p>
    <!-- <p class="txt-c">Guide issu des recommandations de la SFMU</p> -->
    <div class="box bg-warning txt-warning round">
      <table>
        <tr>
          <td>
            <i class="fa fa-bullhorn fa-lg">
            </td>
            <td>
              <p>Pour une appéciation plus précise de la surface brûlée, il est préférable d'utiliser la table de Lund et Browder.</p>
              <ul>
                <li><strong>Surface > 10% :</strong> brûlé à hospitaliser dans un centre "Grand Brûlés".</li>
                <li><strong>Surface > 20% :</strong> brûlé grave à hospitalier en "Réanimation Grand Brûlé".</li>
            </td>
          </tr>
        </table>
      </div>
  </div>
  <div class="col-12">&nbsp;</div>
  <div class="input-group col-12 txt-c">
    <a
      class="big-btn btn-base3-t"
      href=""
      ng-click="life.state = 0">
      <div class="circle-btn">
        <i class="fa fa-play fa-lg"></i>
      </div>
      <div class="label"><p>Démarrer</p></div>
    </a>
  </div>
</div>
<div class="col-12">&nbsp;</div>
<div class="box txt-info col-12 txt-tiny bgw fix-bl">
  <table>
    <tr>
      <td>
        <i class="fa fa-info-circle fa-lg"></i>
      </td>
      <td>
        <p>
          Cette application ne contient pas d’expertise médicale et ne se
          substitue pas à l’analyse clinique et l’expertise professionnelle.
        </p>
      </td>
    </tr>
  </table>
</div>
