<div class="content row">
  <div class="box border-base1 col-8 col-ol-2 col-or-2 round">
    <p class="txt-c">
      Prédiction de l’embolie pulmonaire.
    </p>
    <p class="txt-c">Score de Le Gall</p>
    <p class="txt-c">(score de Genève révisé)</p>
    <p class="txt-c">issu de urgences-serveur.fr</p>
    <!-- <div class="box bg-warning txt-warning round">
      <p>
        Le score HEARTS3 est un outil intéressant, plus simple que le
        GRACE avec de bonnes qualités clinimétriques : une sROC égale à
        0,96 pour prédire un infarctus ou 0,90 pour prédire un SCA dans
        les 30 jours. Il a été développé spécifiquement sur une population
        de malades d’urgences, mais il lui manque une validation par des
        équipes indépendantes.
      </p>
    </div> -->
  </div>
  <div class="col-12">&nbsp;</div>
  <div class="input-group col-12 txt-c">
    <a
      class="big-btn btn-base3-t"
      href=""
      ng-click="life.state = 0">
      <div class="circle-btn">
        <i class="fa fa-play fa-lg"></i>
      </div>
      <div class="label"><p>Démarrer</p></div>
    </a>
  </div>
</div>
<div class="col-12">&nbsp;</div>
<div class="box txt-info col-12 txt-tiny bgw fix-bl">
  <table>
    <tr>
      <td>
        <i class="fa fa-info-circle fa-lg"></i>
      </td>
      <td>
        <p>
          Cette application ne contient pas d’expertise médicale et ne se
          substitue pas à l’analyse clinique et l’expertise professionnelle.
        </p>
      </td>
    </tr>
  </table>
</div>
