<div class="menu-btn abs-tr btn-base3 box clickable" ng-click="life.showMenu=false">
  <i class="fa fa-remove"></i>
</div>
<a href="#!/"
  class="col-12 item lnk-clr" style="display: block;">
  <i class="fa fa-home"></i>
</a>
<div
  class="col-12 item"
  ng-click="reset()">
  <i class="fa fa-power-off"></i>&nbsp;Recommencer
</div>
<div
  class="col-12 item"
  ng-click="
    life.modal = {
      title:'À propos',
      content:
        'Copyright © '+global.copyright+'\n\n'+
        'La reproduction, même partielle, de tout texte ou image présents sur '+
        'cette application est interdite sans accord préalable\n\n'+
        ' - **Version :** '+global.version+'\n'+
        ' - **Développeur :** Louis PERRIN\n\nProximCréation / louis.perrin@gmail.com\n',
      validate:'Fermer'
    };
    life.showMenu=false">
  <i class="fa fa-question"></i>&nbsp;À propos
</div>
<div
  class="col-12 item"
  ng-click="
    life.modal = {
      title:'Information',
      content:
        '<h4><center>Biblio<center></h4>'+
        '\n'+
        ' - Conférence de Consensus du 17 mars 1999 « Objectifs, indications et modalités du sevrage du patient alcoolodépendant »\n\n' + 
        ' - Cushman P Jr, Forbes R, Lerner W, Stewart M. Alcohol withdrawal syndromes : clinical management with lofexidine. Alcohol Clin Exp Res1985 ;9:103-8.\n\n' +
        ' - Mennecier D, Arvers P, Corberand D et al,. Factors predictive of complicated or severe alcohol withdrawal in alcohol dependant patients. Gastroenterologie clinique et Biologique, 2008. 32 : p. 792-97.',
      validate:'J’ai compris'
    };
    life.showMenu=false">
  <i class="fa fa-exclamation"></i>&nbsp;Information
</div>
