<div class="menu-btn abs-tr btn-base3 box clickable" ng-click="life.showMenu=false">
  <i class="fa fa-remove"></i>
</div>
<a href="#/"
  class="col-12 item lnk-clr" style="display: block;">
  <i class="fa fa-home"></i>
</a>
<div
  class="col-12 item"
  ng-click="reset()">
  <i class="fa fa-power-off"></i>&nbsp;Recommencer
</div>
<div
  class="col-12 item"
  ng-click="
    life.modal = {
      title:'À propos',
      content:
        'Copyright © 2016\n\n'+
        'La reproduction, même partielle, de tout texte ou image présents sur '+
        'cette application est interdite sans accord préalable\n\n'+
        ' - **Version :** 1.9.0\n'+
        ' - **Auteur :** Rachid CHOUGAR\n\nMédecin urgentiste / rchoug@free.fr\n'+
        ' - **Développeur :** Louis PERRIN\n\nProximCréation / louis.perrin@gmail.com\n',
      validate:'Fermer'
    };
    life.showMenu=false">
  <i class="fa fa-question"></i>&nbsp;À propos
</div>
<div
  class="col-12 item"
  ng-click="
    life.modal = {
      title:'Information',
      content:
        '**Cette application ne contient pas d’expertise médicale et ne se'+
        'substitue pas à l’analyse clinique et l’expertise professionnelle.**\n\n'+
        'En outre concernant le TCL de l’enfant, le guide proposé est issu des'+
        'recommandations de la sfmu en 2012, inspirée de la règle de décision'+
        'clinique du PECARN (Pediatric Emergency care Applied Research Network)'+
        'et selon la méthode d’adpatation utilisée par la HAS, le PECARN a'+
        'réalisé une étude prospective multicentrique sur une cohorte de 42412'+
        'enfants de moins de 18 ans.\n\n'+
        '**Une étude de validation à grande échelle reste souhaitable**\n'+
        '<h4><center>Biblio<center></h4>'+
        '\n'+
        ' - Ann. Fr. Med. Urgence (2012) 2:199-214<br>'+
        'DOI 10.1007/s13341-012-0202-4\n\n'+
        ' - Davis DP, Serrano JA, Vilke GM, Sise MJ, Kennedy F, Eastman AB, et al.<br>'+
        'The predictive value of field versus arrival Glasgow coma scale score and triss calculations in moderate-to-severe traumatic brain injury.<br>'+
        'J Trauma 2006;60:985—90.\n\n'+
        ' - Compagnone C, d’Avella D, Servadei F, Angileri F, et al.<br>'+
        'Patients with moderate head injury: a prospective multicenter study of 315 patients.<br>'+
        'Neurosurgery 2009;64:690—7.\n\n'+
        ' - Prise en charge initiale des traumatismes crâniens graves et monitorage avant l’arrivée en centre spécialisé<br>'+
        'Le Praticien en Anesthésie Réanimation, Volume 16, Issue 1, Pages 48-53<br>'+
        'Karim Tazarourte, Huy Tran Minh, Arnaud Gauthier, Karim Gamoura, Nicolas Bertozzi\n\n',
      validate:'J’ai compris'
    };
    life.showMenu=false">
  <i class="fa fa-exclamation"></i>&nbsp;Information
</div>
