
<div class="txt-c max-col-6">
  <div class="row">
    <h1>TAD</h1>
    <p ng-if="freeversion"><i>(version gratuite)</i></p>
    <p>assistant de diagnostic</p>
    <hr class="col-12 ">
    <h3 class="col-ol-1 col-11 txt-l">Pédiatrie</h3>
    <div  class="col-12 txt-w flex">
      <a
        class="home-btn lnk-clr btn-base1 box round"
        href="#!/memo-pedia"><strong>Mémo <br>pédiatrique</strong></a>
    </div>
    
    
    <hr class="col-12 ">
    <h3 class="col-ol-1 col-11 txt-l">Adulte</h3>
    
    <div class="col-12 txt-w flex">
      <a
      class="home-btn lnk-clr btn-base3 box round"
      href="#!/tcl"><strong>Glasgow</strong><hr><span class="txt-tiny">Traum. crânien léger</span></a>

      <a
      class="home-btn lnk-clr btn-base3 box round"
      href="#!/nihss"><strong>NIHSS</strong><hr><span class="txt-tiny">A.V.C.</span></a>

    </div>
    
    <div class="col-12 txt-w flex">
      <a
      class="home-btn lnk-clr btn-base3 box round"
      href="#!/wells"><strong>Wells</strong><hr><span class="txt-tiny">Phlébite</span></a>

      <a
      class="home-btn lnk-clr btn-base3 box round"
      href="#!/malinas"><strong>Malinas</strong><hr><span class="txt-tiny">Accouchement</span></a>

    </div>
    
    <div class="col-12 txt-w flex">
      <a
      class="home-btn lnk-clr btn-base3 box round"
      href="#!/cushman"><strong>Cushman</strong><hr><span class="txt-tiny">Seuvrage alcoolique</span></a>

      <a
      class="home-btn lnk-clr btn-base3 box round"
      href="#!/wallas"><strong>Wallace</strong><hr><span class="txt-tiny">Grands brulés</span></a>

    </div>
    <div class="col-12 txt-w flex">
      <a
      class="home-btn lnk-clr btn-info box round"
      href="#!/"><strong>...</strong><hr><span class="txt-tiny">prochainement</span></a>

    </div>
  </div>
</div>
