<div class="content row">
  <div class="box border-base1 col-8 col-ol-2 col-or-2 round">
    <p class="txt-c">Évaluation clinique des AVC permettant un suivi évolutif</p>
    <p class="txt-c">Score NIHSS</p>
    <p class="txt-c">Guide issu des recommandations de la SFMU</p>
    <div class="box bg-warning txt-warning round">
      <table>
        <tr>
          <td>
            <i class="fa fa-bullhorn fa-lg">
            </td>
            <td>
              Rappel :<br>
              <ul>
                <li>Score entre 1 et 4 : <strong>AVC mineur</strong></li>
                <li>Score entre 5 et 15 : <strong>AVC modéré</strong></li>
                <li>Score entre 15 et 20 : <strong>AVC sévère</strong></li>
                <li>Score > 20 : <strong>AVC grave </strong></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
  </div>
  <div class="col-12">&nbsp;</div>
  <div class="input-group col-12 txt-c">
    <a
      class="big-btn btn-base3-t"
      href=""
      ng-click="life.state = 0">
      <div class="circle-btn">
        <i class="fa fa-play fa-lg"></i>
      </div>
      <div class="label"><p>Démarrer</p></div>
    </a>
  </div>
</div>
<div class="col-12">&nbsp;</div>
<div class="box txt-info col-12 txt-tiny bgw fix-bl">
  <table>
    <tr>
      <td>
        <i class="fa fa-info-circle fa-lg"></i>
      </td>
      <td>
        <p>
          Cette application ne contient pas d’expertise médicale et ne se
          substitue pas à l’analyse clinique et l’expertise professionnelle.
        </p>
      </td>
    </tr>
  </table>
</div>
